.hiscore
  %h4
    = title
  %table
    %tr
      %th
      %th
        name
      %th
        level
      %th
        score
    - scores.each_with_index do |s, i|
      %tr{class: s.id == @new_score_id ? 'newscore' : ''}
        %td.pos #{i+1}.
        %td.name  
          = s.name
        %td #{s.level}
        %td.points
          = s.score.round(1)