.hiscore
  %h4
    = title
  %table
    %tr
      %th
      %th
        name
      %th
        mistakes
      %th
        level
      %th
        time
      %th
        SCORE
    - scores.each_with_index do |s, i|
      %tr{class: s == @newScore ? 'newscore' : ''}
        %td.pos #{i+1}.
        %td.name  
          = s.name
        %td{class: moves_quality(s.moves)}
          %strong
            = s.moves
        %td #{s.difficulty}
        %td
          = s.time
        %td.points
          = s.points.round(1)