.hiscore
  %h4
    = title
  %table
    %tr
      %th
      %th
        name
      %th
        level
      %th
        time
      %th
        moves
      %th
        score
    - scores.each_with_index do |s, i|
      %tr{class: s == @newScore ? 'newscore' : ''}
        %td.pos #{i+1}.
        %td.name  
          = s.name
          
        %td #{s.difficulty}
        %td
          = s.time
        %td{class: moves_quality(s.moves)} +#{s.moves}
        %td.points
          = s.points.round(1)